:root {
  --mainColor: #fcfcfc;
  width: 100%;
  overflow: auto;
  --primary-accent: #315659;
  --primary-accent-hover: #396467;
  --primary-accent-grey-down: #5c686b;
  --secondaryButton-accent: #b4b4b4;
  /* --containersBgColor: hsla(0, 0%, 0%, 0.752); */
  --containersBgColor: #faf9f9;
  --skeletonColor: hsl(0, 0%, 50%);
  --navHoverColor: hsl(123, 54%, 45%);
  /* --navBarBg: hsla(0, 0%, 0%, 0.93); */
  --navBarBg: #315659;
  /*--PrimaryColor: #00CC99;*/
  /*--PrimaryColorHover: #00a279;*/
  --PrimaryColor: #34c759;
  --PrimaryColorHover: #35a451;
  --second_menu_color: rgb(8, 10, 39);
  --cancelBackground: rgba(255, 69, 69, 0.82);
  --successBackground: rgb(53, 164, 81);
  --btnRadius: 5px;
  --fontInter: Inter, sans-serif, serif;
}

* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Times, serif;
}

::-webkit-scrollbar {
  display: none;
}
body {
  box-sizing: border-box;
}

.container {
  background-color: var(--containersBgColor);
  /*min-height: 600px;*/
  max-width: 1350px;
  /*border-bottom: 8px solid black;*/
}

.navbar {
  background-color: var(--navBarBg);
  color: var(--mainColor);
  height: 70px;
  max-width: 1350px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding-inline: 40px;
  gap: 20px;
}

.logo {
  width: 155px;
  height: 105px;
  flex: 0 1 auto;
}
.big_logo {
  width: 200px;
  height: auto;
}

.item_img {
  width: 200px;
  background-color: red;
  height: 150px;
  border-radius: .5rem;
  align-self: center;
  /* border-radius: 50%;
   */
}

.menuList {
  list-style: none;
  display: flex;
  cursor: pointer;
  /* padding: 0 280px; */
  text-decoration: none;
}

.menuList li {
  /* padding: 0 20px; */
  padding-left: 25px;
  text-decoration: none;
  /* font-size: 5rem; */
}

.profile-btn {
  display: flex;
  align-items: center;
  background-color: var(--PrimaryColor);
  border-radius: var(--btnRadius);
  padding: 10px 15px;
  cursor: pointer;
}

.profile-icon {
  font-size: 25px;
  padding-right: 5px;
}

.arrow {
  padding-left: 5px;

}

.Log-in-btn-home {
  /*justify-items: flex-end;*/
  list-style: none;
  /*flex: 0 1 auto;*/
  background-color: var(--PrimaryColor);
  border-radius: var(--btnRadius);
  padding: 10px 28px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-family: var(--fontInter), serif;
  transition: all .5s ease-in-out;
}

#logIn-arrow {
  display: inline-block;
}

.Log-in-btn-home:hover {
  background-color: var(--PrimaryColorHover);
}

.Log-in-btn-home:hover #logIn-arrow {
  transform: translateX(3px);
}

.menuList li a, .Log-in-btn a {
  text-decoration: none;
  color: var(--mainColor);
  transition: color 0.5s;
}

.menuList li a:hover {
  color: var(--navHoverColor);
}

.search-container {
  display: flex;
  flex: 1;
  margin-left: 5rem;
}
.search-container input,
.search-container button {
  /* padding: 13px 35px; */
  /*padding: 13px 65px 13px 9px;*/
  /* border-radius: 10%; */
  border: none;
  outline: none;
  background-color: white;
}
.search-container input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-block: 11px;
  width: 25rem;
  /*padding-right: 15rem;*/
  font-size: 15px;
  text-align: start;
  color: black;
}

.search-container button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 11px 15px;
  cursor: pointer;
  color: black;
  font-size: 20px;
}

.navbar_second {
  background-color: rgb(215, 215, 215);
  color: var(--mainColor);
  /*height: 30px;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-around;*/
  /*overflow: scroll;*/
  z-index: 2;
  overflow: auto;
  white-space: nowrap;
}

.navbar_second a {
  display: inline-block;
  /*overflow-x: scroll;*/
  padding-right: 2rem;
  padding-left: .8rem;
  text-decoration: none;
  color: var(--second_menu_color);
}

.frontPageBannerSkele {
  height: 250px;
  /* grid-row: 1/2;
  grid-column: 1/3; */
  grid-column: span 2;
  /* max-width: 1220px; */
  background-color: var(--skeletonColor);
  border-radius: 10px;
}

.categoriesGlanceSkele {
  display: flex;
  border-radius: 10px;
  padding-block: 3rem;
  gap: 4em;
  scroll-behavior: smooth;
  overflow-x: scroll;
  /* flex: 2; */
  /*border-radius: 10px;*/
}
.dedicatedOffersSkele {
  height: 300px;
  /* max-width: 2220px; */
  background-color: var(--skeletonColor);
  border-radius: 10px;
  /* background-color: rgb(255, 0, 144); */
  /* flex-basis: 300px; */
}

.dedicatedOffersSkele img {
  border-radius: 10px;
}

.firstContainerBody {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* background: #ffffff; */
  /* box-shadow: 20px 20px 26px #f2f2f2, -20px -20px 26px #ffffff; */
  /* box-shadow: 11px 11px 100px #d1d1d1, -11px -11px 100px #ffffff; */
  position: relative;
  overflow: clip;
}

.firstContainerBody img {
  /*object-fit: cover;*/
  border-radius: 10px;
  /* height: 100%; */
  width: 100%;
  position: absolute;
}

.firstContainerBody h2 {
  font-weight: 200;
  font-size: 40px;
}
.firstContainerBody p {
  font-size: 20px;
}
.textSegment {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 35%;
  z-index: 100;
  align-items: flex-end;
  padding-right: 150px;
  justify-content: center;
}

.container_second_heading {
  font-size: 35px;
  /*padding: 10px;*/
}

.pageTitle {
  background: linear-gradient(grey, rgb(237, 230, 230));
  text-align: center;
}

.second {
  /* width: 50px; */
  padding: 2rem;
  display: flex;
  /*align-items: center;*/
  /*grid-template-columns: repeat(2, 1fr);*/
  /*justify-content: space-evenly;*/
  gap: 1rem;
}

.item-card-container {
  box-shadow: -5px 5px 10px #eeeeee,
  5px -5px 10px #eeeeee;
  background-color: white;
  padding: .5rem;
  border-radius: .5rem;
}

.itemcards {
  /*border: 1px solid rgb(32, 32, 32);*/
  /*background-color: red;*/
  /*width: 20rem;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*position: relative;*/
  /*bottom: 2px;*/
}

.titleOfItem {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 200;
  /*line-height: 2rem;*/
}

.priceOfItem {
  font-size: 1.8em;
  /*letter-spacing: 1.5px;*/
  line-height: 2rem;
}

.addbtns {
  /* display: flex; */
  /* align-self: baseline; */
  /*position: absolute;*/
  /*bottom: 20px;*/
  margin-block: .3rem;
}

.addbtns input {
  /* border: 5px solid tomato; */
  width: 50px;
  font-size: 1em;
  text-align: center;
  margin: 5px;
}

.Btn {
  color: var(--mainColor);
  border: none;
  padding: 10px;
  border-radius: 5px;
  min-width: 115px;
  height: 37px;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.5s;
}

.HeroAd {
  background: rgb(249, 161, 71);
  margin-top: 10px;
}
.HeroAd:hover {
  background: hsl(30, 100%, 72%);
}
.addToCart {
  background-color: var(--navBarBg);
  font-size: 17px;
}

.Categories-container {
  display: none;
  flex-direction: row;
  max-width: 1220px;
  /* padding-inline: 30px; */
  justify-content: space-around;
  align-items: baseline;
  /*padding-block: 10px;*/
}

.component-category {
  border: 2px solid #919191;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 5rem;
  justify-items: center;
  padding: 25px 10px;
  cursor: pointer;
  box-shadow: 9px 9px 18px #aeaeae, -9px -9px 18px #ffffff;
}
.component-category img {
  height: 50px;
  width: 80px;
}
.First {
  padding-top: .5rem;
  padding-bottom: 1rem;
  gap: 10px;
  padding-inline: 1.5rem;
}

.Footer {
  background-color: rgb(11, 10, 10);
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 400px;
}

.Footer h3 {
  color: var(--mainColor);
  padding: 80px 0;
  text-decoration: underline;
}

.Footer_links {
  color: var(--mainColor);
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  flex-wrap: wrap;
  gap: 50px;
  padding: 25px 70px;
}
